<main>
  <p id="notice"><%= notice %></p>

  <h1>Contact Manager</h1>
  <div id="new-form">
    <%= render "contacts/form", contact: Contact.new %>
  </div>
  <h2>Contacts(<span id="number_of_contacts"><%= @contacts.size %></span>)</h2>
      <hr/>
  <div id="contacts">
    <% @contacts.each do |contact| %>
      <%= render contact %>
    <% end %>
  </div>
</main>
