main{
  font-size: 20px;
  margin-left: 250px;
  margin-right: 250px;
}

main h1, h2{
   text-align: center;
}

main input{
 width: 100%;
 margin-bottom: 10px;
 padding: 10px;
 font-size: 15px;
}

.contact-details{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.new-contact-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left{
   width: 40%;
   margin-right: 5px;
}


