main{
  font-size: 20px;
  margin-left: 250px;
  margin-right: 250px;
}

main h1, h2{
  text-align: center;
}

main input{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
}

.contact-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image{
  flex-basis: 7%;
}
.sub-details{
  flex-basis: 60%;
}
.edit-button, .delete-button{
  flex-basis: 10%;
}

.new-contact-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left{
  flex: 1;
  margin-right: 5px;
}

.center{
  flex-basis: 25%;
  margin-left: 50px;
}

.right{
  flex-basis: 15%;
}

.contact-details img{
  width: 7%;
}

#img_preview{
  width: 85px;
  margin-bottom: 0;
}


#notice{
 color: green;
}

